/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

/* Navigation Bar */
.navbar {
    background-color: #ff05d1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}