/* Colour Variables */
:root {
    --primary-color: #422672;
    --secondary-color: #fefefe;
    --tertiary-color: #c12222;
}

/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
/* Body */
html,
body {
  width: 100%;
  height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 20px 0;
}

/* Navigation Bar */
.navbar {
    background-color: var(--secondary-color);
}
.navbar-brand {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;
}
.navbar-nav .nav-link {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 500;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active{
    color: var(--primary-color);
    font-weight: 600;
}


/* Header Section */
.header {
  position: relative;
    background-image: url('../images/header-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    /* color: var(--secondary-color); */
    text-align: center;
}
.hero-items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--secondary-color);
}

/* Map Section */
#map {
    height: 100%;
    height: 500px;
    width: 100%;
    width: 850px;
    border: 3px solid var(--primary-color);
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 10px var(--tertiary-color);
  }

  
  table {
    font-size: 12px;
  }
  
  .hotel-search {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    position: absolute;
    top: 0;
    width: 440px;
    z-index: 1;
  }
  
  
  /* #listing {
    position: relative;
    width: 200px;
    height: 470px;
    overflow: auto;
    left: 442px;
    top: 0px;
    cursor: pointer;
    overflow-x: hidden;
  } */
  
  #findhotels {
    font-size: 14px;
  }
  
  /* #locationField {
    -webkit-box-flex: 1 1 190px;
    -ms-flex: 1 1 190px;
    flex: 1 1 190px;
    margin: 0 8px;
  } */
  
  #controls {
    -webkit-box-flex: 1 1 140px;
    -ms-flex: 1 1 140px;
    flex: 1 1 140px;
  }
  
  /* #autocomplete {
    width: 100%;
  } */
  
  #country {
    width: 100%;
  }
  
  .placeIcon {
    width: 20px;
    height: 34px;
    margin: 4px;
  }
  
  .hotelIcon {
    width: 24px;
    height: 24px;
  }
  
  #resultsTable {
    border-collapse: collapse;
    width: 240px;
  }
  
  #rating {
    font-size: 13px;
    font-family: Arial Unicode MS;
  }
  
  .iw_table_row {
    height: 18px;
  }
  
  .iw_attribute_name {
    font-weight: bold;
    text-align: right;
  }
  
  .iw_table_icon {
    text-align: right;
  }


  #social-icon {
    font-size: 2rem;
    text-decoration: none;
    color: var(--secondary-color);
  }

  footer p {
    margin: 0;
    opacity: 0.7;
  }
  /* Weather Card */
  .weather-card {
    background-color: var(--primary-color);
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    }

    .hide {
      display: none;
    }